.collection {
  .title {
    font-size: 38px;
    text-transform: capitalize;
    margin: 0 auto 30px;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

    & .collection_item {
      margin-bottom: 25px;
    }
  }
}
