.collection_item {
  position: relative;
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  &:hover {
    .item-image {
      opacity: 0.8;
    }
    .custom_button {
      display: block;
    }
  }

  .item-image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .item-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .item-name {
      margin-bottom: 15px;
    }
  }

  .custom_button {
    position: absolute;
    bottom: 45px;
    width: 80%;
    opacity: 0.85;
    display: none;
  }
}
